.aurora-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
  min-height: 100%;
}

.aurora-container canvas {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

